<!-- cliente/detalhes_categoria.html -->
{% extends "base.html" %}

{% block titulo_conteudo %}Detalhes da Categoria{% endblock %}

{% block conteudo %}
<div class="container mt-4">
    <h1>Detalhes da Categoria</h1>
    {% if categoria_encontrada %}
    <ul class="list-group">
        <li class="list-group-item"><strong>ID:</strong> {{ categoria.id }}</li>
        <li class="list-group-item"><strong>Nome:</strong> {{ categoria.nome }}</li>
        <li class="list-group-item"><strong>Ordem:</strong> {{ categoria.ordem }}</li>
    </ul>
    <a href="{% url 'form_categoria' categoria.id %}" class="btn btn-warning mt-3">Editar</a>
    <a href="{% url 'excluir_categoria' categoria.id %}" class="btn btn-danger mt-3">Excluir</a>
    {% else %}
    <div class="alert alert-danger mt-3" role="alert">
        Categoria não encontrada.
    </div>
    {% endif %}
    <a href="{% url 'categoria' %}" class="btn btn-primary mt-3">Voltar</a>
</div>
{% endblock conteudo %}
