{% extends 'base.html' %}

{% block titulo %} Contato {% endblock %}

{% block titulo_conteudo %} Detalhes do Produto {% endblock %}

{% block conteudo %}  
   
<p>
   <label>ID:</label><br>
   <span class="form-control">{{ produto.id }}</span>
</p>

<p>
   <label>Nome:</label><br>
   <span class="form-control">{{ produto.nome }}</span>
</p>

<p>
   <label>Preço R$:</label><br>
   <span class="form-control">{{ produto.preco }}</span>
</p>

<p>
   <label>Imagem:</label><br>
   <span class="form-control"> 
      <img src="data:image/jpeg;base64,{{ produto.img_base64 }}" alt="Imagem do Produto" width="200" height="200">
    </span>
</p>

{% endblock %}
