{% extends 'base.html' %}

{% block titulo %} Detalhes do Produto {% endblock %}

{% block titulo_conteudo %} Detalhes do Produto {% endblock %}

{% block conteudo %}

{% if produto %}
<p>
    <label>ID:</label><br>
    <span class="form-control">{{ produto.id }}</span>
</p>

<p>
    <label>Nome:</label><br>
    <span class="form-control">{{ produto.nome }}</span>
</p>

<p>
    <label>Preço R$:</label><br>
    <span class="form-control">{{ produto.preco }}</span>
</p>

<p>
    <label>Imagem:</label><br>
    <span class="form-control"> 
        {% if produto.img_base64 %}
            <img src="{{ produto.img_base64 }}" alt="Imagem do Produto" width="200" height="200">
        {% else %}
            <span>Imagem não disponível</span>
        {% endif %}
    </span>
</p>

<p>
    <button onclick="location='{% url 'lista_produtos' %}'" type="button" class="btn btn-primary">Voltar</button>
</p>
{% else %}
<div class="alert alert-danger" role="alert">
    <strong>Erro:</strong> Produto não encontrado.
</div>
<a href="{% url 'lista_produtos' %}" class="btn btn-primary mt-3">Voltar</a>
{% endif %}

{% endblock %}
