{% extends "base.html" %}

{% block titulo_conteudo %} Listagem de Produtos {% endblock titulo_conteudo %}

{% block conteudo %} 

<div class="barrabotoes">
    <button onClick="location='{% url 'form_produto' %}'" type="button" class="btn btn-primary btn-sm">Inserir Novo</button>
    <button onClick="location='{% url 'lista_produtos' %}'" type="button" class="btn btn-primary btn-sm">Recarregar</button>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço (R$)</th>
            <th>Categoria</th>
            <th>Qtde</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
            <td>
                <span>{{ produto.id }}</span>
                {% if produto.img_base64 %}
                    <img src="{{ produto.img_base64 }}" alt="Imagem do Produto" width="50" height="50" style="margin-left: 10px;">
                {% endif %}
            </td>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.categoria.nome }}</td>
            <td>{{ produto.estoque.qtde }}</td>
            <td>
                <button onclick="location='{% url 'detalhes_produto' produto.id %}'" class="btn btn-info btn-sm">Detalhes</button>
                <a href="{% url 'ajustar_estoque' produto.id %}" class="btn btn-success btn-sm">Estoque</a>
                <a href="{% url 'editar_produto' produto.id %}" class="btn btn-warning btn-sm">Editar</a>
                <form action="{% url 'excluir_produto' produto.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja remover este registro?');">Remover</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock conteudo %}
